.page_normal {
  transition: transform 0.3s ease-in-out;

  transform: translateY(0px) scale(1);
  background-color: Peru;
}

.page_scrolled {
  transition: transform 0.3s ease-in-out;

  transform: translateY(-30px) scale(1);
  background-color: Peru;
}

#react-burger-menu-btn{
  width: 0px !important;
  height: 0px !important;
}