@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

.carousel-wrapper {
  height: 600px;
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;
  font-family: "Abel", sans-serif;
  z-index: 0;
}

.carousel-item-div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 50px;
  opacity: 0;
  transition: all 0.8s ease-in-out;
}

.carousel-item-header-background {
  background-color: rgb(179, 179, 179);
  opacity: 0.6;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}

#grad1 {
  height: 200px;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgba(255, 0, 0, 1)
  );
}

.carousel-item-header-background h2 {
  /* background-color: rebeccapurple; */
}

.carousel-item-header-background p {
  /* background-color: yellow;; */
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
}

.arrow-prev {
  left: 2%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);

  margin-left: 1%;
  margin-right: 1%;
}

.arrow-next {
  right: 2%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);

  margin-left: 2%;
  margin-right: 2%;
}

.light {
  color: white;
}


/*Select every element*/
[id^="item"] {
  display: none;
}

.item-1 {
  z-index: 2;
  opacity: 1;
  background: url("/images/slider/slider1.jpg");
  background-size: cover;
  background-position: center;
}
.item-2 {
  background: url("/images/slider/slider2.jpg");
  background-size: cover;
  background-position: center;
}
.item-3 {
  background: url("/images/slider/slider3.jpg");
  background-size: cover;
  background-position: center;
}

*:target ~ .item-1 {
  opacity: 0;
}

#item-1:target ~ .item-1 {
  opacity: 1;
}

#item-2:target ~ .item-2,
#item-3:target ~ .item-3 {
  z-index: 3;
  opacity: 1;
}

@media (max-width: 480px) {
  .arrow,
  .light .arrow {
    background-size: 10px;
    background-position: 10px 50%;
    margin-left: 6%;
    margin-right: 6%;
  }
  .carousel-wrapper {
    height: 600px;
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
    font-family: "Abel", sans-serif;
    z-index: 0;
  }
  .item-1 {
    z-index: 2;
    opacity: 1;
    background: url("/images/slider/slider_mobile_1.jpg");
    background-size: cover;
    background-position: center;
  }
  .item-2 {
    background: url("/images/slider/slider_mobile_2.jpg");
    background-size: cover;
    background-position: center;
  }
  .item-3 {
    background: url("/images/slider/slider_mobile_3.jpg");
    background-size: cover;
    background-position: center;
  }
}

