@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

header {
height: 100px;
  transform: translateY(0px);
  transition: transform 0.8s ease-in-out;
  background-color: Peru;
}

.hide {
  visibility: hidden;
  opacity: 0;
  display: none;
}

.menu-mobile {
  background-color: red;
  opacity: 1;
  transition: opacity 0.6s, display 0.6s;
}


#logo {
  max-width: "225px";
}

.small-image {
  transform: translateY(-70px) scale(0.5);
  transition: transform 0.3s ease-in-out;
}

.large-image {
  transform: translateY(-30px) scale(0.7);
  transition: transform 0.3s ease-in-out;
}

@media screen and (max-width: 1024px) {
  #logo {
    max-width: 350px;
  }
  header {
    height: 70px;
  }

  .small-image {
    transform: translateY(-110px) scale(0.4);
    transition: transform 0.3s ease-in-out;
  }

  .medium-image {
    transform: translateY(-110px) scale(0.4);
    transition: transform 0.3s ease-in-out;
  }

  .large-image {
    transform: translateY(-85px) scale(0.5);
    transition: transform 0.3s ease-in-out;
  }
  .menu-mobile {
    display: none;
  }

}

@media screen and (max-width: 524px) {
  #logo {
    max-width: 300px;
  }

  header {
    height: 40px;
  }

  .small-image {
    transform: translateY(-110px) scale(0.3);
    transition: transform 0.3s ease-in-out;
  }

  .medium-image {
    transform: translateY(-70px) scale(0.5);
    transition: transform 0.3s ease-in-out;
  }

  .large-image {
    transform: translateY(-60px) scale(0.6);
    transition: transform 0.3s ease-in-out;
  }

 
}

.text-xxs {
  font-size: 0.65rem;
}

nav {
  height: -webkit-fill-available;
  display: flex;
  position: relative;
  flex-flow: row nowrap;
}

nav .normal {
  transform: translateY(0px);
  transition: transform 0.3s ease-in-out;
}

nav .scrolled {
  transform: translateY(15px);
  transition: transform 0.3s ease-in-out;
}

ul {
  height: inherit;
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
}

ul .scrolled {
  transform: translateY(20px);
  transition: transform 0.3s ease-in-out;
}

ul .normal {
  transform: translateY(0px);
  transition: transform 0.3s ease-in-out;
}

.link-header {
  font-size: 25px;
}

.flex_column {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
}

.felx_row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movil {
  background: #e0e0e0;
}

#btn_menu,
.btn_menu {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 3;
}

#btn_menu {
  display: none;
}

.btn_menu {
  width: 40px;
  height: 40px;
  color: red;
}

.btn_span {
  position: absolute;
  top: 0;
  width: 30px;
  height: 5px;
  background: #1663cc;
  transition: all 0.3s ease;
}
.btn_span:nth-child(2) {
  top: 10px;
}
.btn_span:nth-child(3) {
  top: 20px;
}
#btn_menu:checked ~ .btn_menu #btn_span_1 {
  top: 10px;
  transform: rotate(45deg);
}
#btn_menu:checked ~ .btn_menu #btn_span_2 {
  opacity: 0;
}
#btn_menu:checked ~ .btn_menu #btn_span_3 {
  top: 10px;
  transform: rotate(-45deg);
}

.container_flex {
  position: relative;
  overflow: hidden;
}

.container_menu {
  width: 100%;
  height: 100vh;
}

.container_menu {
  position: absolute;
  top: 0;
  right: -100vw;
  height: 100vh;
  background: #434343;
  transition: all 0.5s ease;
  z-index: 2;
}

#btn_menu:checked ~ .container_flex .container_menu {
  right: 0;
}
