@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

header {
  transform: translateY(0px);
  transition: transform 0.8s ease-in-out;
  background-color: Peru;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.menu-mobile {
  background-color: red;
  opacity: 1;
  transition: opacity 0.2s, visibility 0.2s;
}

.header_scrolled {
  transform: translateY(-30px) scale(1);
  background-color: Peru;
}

#logo {
  max-width: "225px";
}

.small-image {
  transform: translateY(-100px) scale(0.5);
  transition: transform 0.3s ease-in-out;
}

.medium-image {
  transform: translateY(-70px) scale(0.6);
  transition: transform 0.3s ease-in-out;
}

.large-image {
  transform: translateY(-70px) scale(0.7);
  transition: transform 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  #logo {
    max-width: 350px;
  }
  header {
    height: 100px;
  }

  .small-image {
    transform: translateY(-80px) scale(0.3);
    transition: transform 0.3s ease-in-out;
  }

  .large-image {
    transform: translateY(-50px) scale(0.7);
    transition: transform 0.3s ease-in-out;
  }
}

.text-xxs {
  font-size: 0.65rem;
}

nav {
  height: auto;
  display: flex;
  position: relative;
  flex-flow: row nowrap;
}

ul {
  height: inherit;
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
}

.link-header {
  font-size: 25px;
}
