
#socials-bar {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 80px;
}

#socials-bar a {
  color: black;
  font-size: 30pt;
}